# 1. Ignore DFE/DFE_SIM build directories
*_DFE_SIM
*_DFE

# 2. Ignore DFE/DFE_SIM executables
*_sim
*_dfe

# 3. Ignore other compiled objects
*.class
*.o
debug_*
*.so
*.so.*

# 4. Ignore vim temporary files
*~
*.swp

# 5. Ignore debug graphs
*.dot
*.png

# CMake build dir
/build
